{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block body %}
{% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    <br>
{% endfor %}
<center>
{% if login %}
  <h3><center>Hello {{user}}!</center></h3><br><br>
  <br>
  <h5><center><strong>Your News Catergories</strong></center></h5>
  {% for topic in news %}
  <span><center>{{topic[0]}}</center>
  <form action="/removepreference/{{topic[0]}}">
      <center>
      <input type="submit" class = "alert button" name="Remove Preference" value="Remove" style="display: inline;">
      </center>
  </form>
  </span>
  {% endfor %}
  <br>
  <h5><center><strong>Your Sports Preferences</strong></center></h5>
  <h4><center><small>NFL Teams</small></center></h4>
  {% for team in NFLteams %}
  <center>{{team[0]}}</center>
  <form action="/removepreference/{{team[0]}}">
      <center>
      <input type="submit" class="alert button" name="Remove Preference" value="Remove" style="display: inline;">
      </center>
  </form>
  {% endfor %}
  <h4><center><small>NHL Teams</small></center></h4>
  {% for team in NHLteams %}
  <center>{{team[0]}}</center>
  <form action="/removepreference/{{team[0]}}">
      <center>
      <input type="submit" class="alert button" name="Remove Preference" value="Remove" style="display: inline;">
      </center>
  </form>
  {% endfor %}

  <br>
  <form action="/logout">
    <input type="submit" name="Log Out" value="Log Out">

  </form>

{% else %}
  <h3><center>Hello stranger!</center></h3>
  <div class="grid-x grid-padding-x">
    <div class="large-6 medium-6 cell">
      <div class="primary callout">
        <form action="/login" method="GET">
          <input type="submit" name="login-button" value="Login">
        </form>
      </div>
    </div>
    <div class="large-6 medium-6 cell">
      <div class="primary callout">
        <form action="/createAccount" method="GET">
          <input type="submit" name="createAccount-button" value="Create Account">
        </form>
      </div>
    </div>
  </div>
{% endif %}
</center>
<br>
{% endblock %}
