<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">


<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
    {% block header %}
    <title>{% block title %} {% endblock %} | Mayonnaise</title>
    {% endblock %}
</head>
<header>
  <div class="mobile-nav-bar title-bar">
      <div class="title-bar-left">
      </div>
      <div class="title-bar-center">
        <span class="title-bar-text"><a href="/news">Mayonnaise News</a></span>
      </div>
      <div class="title-bar-right">
      </div>
    </div>

    <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="collapsing-tabs" data-allow-all-closed="true" data-multi-expand="true">
      <li class="tabs-title"><a href="/account" >Account</a></li>
      <li class="tabs-title"><a href="/news" >News</a></li>
      <li class="tabs-title"><a href="/weather" >Weather</a></li>
      <li class="tabs-title"><a href="/sports">Sports</a></li>
      <li class="tabs-title"><a href="/money" >Currency Exchange</a></li>
      <div class="slide"></div>
    </ul>

</header>

<body>
    {% block body %} {% endblock %}
    {% block news %} {% endblock %}
</body>
<footer>
    {% block footer %} {% endblock %}
    <p>&copy; Copyright 2019 Team Mayonnaise -- Lauren Pehlivanian, Albert Wan, Brandon Chen, Biraj Chowdhury</p>
</footer>

</html>
