{% extends "base.html" %}

{% block header %}
  {% block title %}Home{% endblock %}
{% endblock %}

{% block body %}
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}
  <form action="/logout">
    <input type="submit" name="logout-button" value="Log out">
  </form>
{% endblock %}
{% block news %}
<div class="grid-x grid-padding-x">
{% for article in articles%}
  <div class="large-4 cell">
    <h5><a href={{article['url']}}>{{article['title']}}</a></h5>
    <div class="large-12 cell">
      <img src={{article['urlToImage']}}>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
