{% extends "base.html" %}

{% block header %}
  {% block title %}Welcome!{% endblock %}
{% endblock %}

{%block body%}

    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/login" method="GET">
            <input type="submit" name="login-button" value="Login">
          </form>
        </div>
      </div>
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/createAccount" method="GET">
            <input type="submit" name="login-button" value="Create Account">
          </form>
        </div>
      </div>
    </div>
    <h1>OR</h1>
    <div class="grid-x grid-padding-x">
      <div class="large-12 medium-12 cell">
        <div class="primary callout">
          <button type="button">Use without logging in</button>
        </div>
      </div>
    </div>
{% endblock %}
