{% extends "base.html" %}

{% block header %}

{% endblock %}

{%block body%}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>


    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/login" method="GET">
            <input type="submit" name="login-button" value="Login">
          </form>
        </div>
      </div>
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/createAccount" method="GET">
            <input type="submit" name="createAccount-button" value="Create Account">
          </form>
        </div>
      </div>
    </div>
    <h1>OR</h1>
    <div class="grid-x grid-padding-x">
      <div class="large-12 medium-12 cell">
        <div class="primary callout">
          <form action="/account" method="GET">
            <input type="submit" name="logout-button" value="Use without logging in">
          </form>
        </div>
      </div>
    </div>
{% endblock %}
