{% extends "base.html" %}
{% block header %}
  <!--
  {% block title %}Home{% endblock %}
  <a href="/sports">Sports</a
  -->
{% endblock %}

{% block body %}
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}

  <div class="md-tabs">


  <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="collapsing-tabs" data-allow-all-closed="true" data-multi-expand="true">
    <li class="tabs-title is-active"><a href="{{url_for('home', currentTab = 1)}}" >News</a></li>
    <li class="tabs-title"><a href="{{url_for('home', currentTab = 2)}}" >Weather</a></li>
    <li class="tabs-title"><a href="{{url_for('home', currentTab = 3)}}">Sports</a></li>
    <li class="tabs-title"><a href="{{url_for('home', currentTab = 4)}}" >Stocks and Currency Exchange</a></li>
    <div class="slide"></div>
  </ul>

  <div class= data-tabs-content="collapsing-tabs">

    <div class="{{t1}}" id="panel1">
      <!-- =================================================================== NEWS ======================================================================== -->
      <div class="grid-x grid-padding-x">
        {% for article in articles%}
          <div class="large-4 cell">
            <h5><a href={{article['url']}}>{{article['title']}}</a></h5>
            <div class="large-12 cell">
              <img src={{article['urlToImage']}}>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- =================================================================== NEWS ======================================================================== -->
    </div>

    <div class="{{t2}}" id="panel2">
      <!-- ================================================================= WEATHER ======================================================================= -->
      <h3>Weather in New York</h3>
      <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 cell">
          <div class="success callout">
            <h1> {{DateToday}}</h1>
            <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

            <div>Temperature today: {{TempToday}}</div>
            <div>Lowest today: {{LowestTemp}}</div>
            <div>Highest today: {{HighestTemp}}</div>

          </div>
        </div>
      </div> <br>
      <div class="grid-x grid-padding-x">
        <div class="large-2 large-2 large-2 large-2 cell large-2 cell">
          <div class="secondary callout">
            <h1> {{DateToday1}}</h1>
            <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

            <div>Temperature: {{TempToday1}}</div>
            <div>Lowest: {{LowestTemp1}}</div>
            <div>Highest: {{HighestTemp1}}</div>

          </div>
        </div>
        <div class="large-2 large-2 large-2 large-2 cell large-2 cell">
          <div class="secondary callout">
            <h1> {{DateToday2}}</h1>
            <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

            <div>Temperature: {{TempToday2}}</div>
            <div>Lowest: {{LowestTemp2}}</div>
            <div>Highest: {{HighestTemp2}}</div>

          </div>
        </div>
        <div class="large-2 large-2 large-2 large-2 cell large-2 cell">
          <div class="secondary callout">
            <h1> {{DateToday3}}</h1>
            <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

            <div>Temperature: {{TempToday3}}</div>
            <div>Lowest: {{LowestTemp3}}</div>
            <div>Highest: {{HighestTemp3}}</div>

          </div>
        </div>
        <div class="large-2 large-2 large-2 large-2 cell large-2 cell">
          <div class="secondary callout">
            <h1> {{DateToday4}}</h1>
            <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

            <div>Temperature: {{TempToday4}}</div>
            <div>Lowest: {{LowestTemp4}}</div>
            <div>Highest: {{HighestTemp4}}</div>

          </div>
        </div>
      </div>
      <div class="large-2 large-2 large-2 large-2 cell large-2 cell">
        <div class="secondary callout">
          <h1> {{DateToday5}}</h1>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

          <div>Temperature: {{TempToday5}}</div>
          <div>Lowest: {{LowestTemp5}}</div>
          <div>Highest: {{HighestTemp5}}</div>

        </div>
      </div>
      </div>
      <!-- ================================================================= WEATHER ======================================================================= -->
    </div>


    <div class="{{t3}}" id="panel3">
      <!-- ================================================================== SPORTS ======================================================================== -->
      sports here
      <!-- ================================================================== SPORTS ======================================================================== -->
    </div>

    <div class="{{t4}}" id="panel4">
      <!-- ================================================================== MONEY ======================================================================== -->
      foreign currency and maybe stock here
      <!-- ================================================================== MONEY ======================================================================== -->
    </div>
  </div>
</div>




  <form action="/logout">
    <input type="submit" name="logout-button" value="Log out">
  </form>
{% endblock %}
{% block news %}
<div class="grid-x grid-padding-x">
{% for article in articles%}
  <div class="large-4 cell">
    <h5><a href={{article['url']}}>{{article['title']}}</a></h5>
    <div class="large-12 cell">
      <img src={{article['urlToImage']}}>
    </div>
    Published : {{article['publishedAt']}}
  </div>
  {% endfor %}
</div>
{% endblock %}
