<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayonnaise</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <header class="twelve columns">
                <p><wbr>welcome to mayonnaise.</p>
            </header>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/login" method="GET">
            <input type="submit" name="login-button" value="Login">
          </form>
        </div>
      </div>
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <form action="/createAccount" method="GET">
            <input type="submit" name="login-button" value="Create Account">
          </form>
        </div>
      </div>
    </div>
    <h1>OR</h1>
    <div class="grid-x grid-padding-x">
      <div class="large-12 medium-12 cell">
        <div class="primary callout">
          <button type="button">Use without logging in</button>
        </div>
      </div>
    </div>
  </body>
</html>
