{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block body %}
  <h3><u><center>Currency Exchange</center></u></h3>
<center>
  {% if loggedIn %}
    Your base currency is:
    <form action="/changeBase/{{a}}" method="POST">
      <div style="width:20%">
      <select name="base">
        <option disabled selected>{{b[0]}}</option>
        {% for currency in d %}
          <option value="{{currency}}">{{currency}}</option>
        {% endfor %}
        <input type="submit" value="Submit" name="submit-butom">
      </select>
      </div>
    </form>
  {% else %}
    Your base currency is: {{b}}
  {% endif %}

  <br>
  <form action="/moneyprocess" method = "POST">
    Amount: <div style="width:20%"><input type="text" name="amount" value={{a}}></div>
    <input type="submit" value="Submit">
  </form>
  <br>
  </center>
  <div class="grid-x grid-padding-x">
  {% for key in d %}
  {% if (loop.index ) % 4 == 0 %}
    <div class="large-3 large-3 large-3 large-3 cell">
      <div class="primary callout">
        <center>
        <p>{{key}} = {{d.get(key) * a}} </p>
        </center>
      </div>
    </div>
    </div>
    <div class="grid-x grid-padding-x">

  {% else %}
    <div class="large-3 large-3 large-3 large-3 cell">
      <div class="primary callout">
        <center>
        <p>{{key}} = {{d.get(key) * a}} </p>
        <center>
      </div>
    </div>

  {% endif %}
  {% endfor %}
  </div>
{% endblock %}
