{% extends 'base.html' %}
{% block body %}
    <h5>Search results for {{search}}</h5>
    <br>
    <form action='/news'>
        <input type='submit' value="Back to News">
    </form>
    <br>
    <div class="grid-x grid-padding-x">
        {% for article in articles%}
        <div class="large-4 cell">
            <h5><a href={{article['url']}}>{{article['title']}}</a></h5>
            <div class="large-12 cell">
                <img src={{article['urlToImage']}}>
            </div>
            <p>{{article['publishedAt']}}</p>
        </div>
        {% endfor %}
    </div>
    <br>
    <form action='/news'>
        <input type='submit' value="Back to News">
    </form>
    <br>
{% endblock %}
