
{% extends "base.html" %}

{% block header %}

  <!-- Compressed JavaScript -->
  <!--
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous"></script>
 -->
  {% block title %}{% endblock %}
{% endblock %}

{% block body %}
    <h3><u><center>Sports</center></u></h3>
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}

  <h1>NFL</h1>
  <h3><small>Today's Scores:</small></h3>
  {% if NFLtoday == "No games played or scheduled for today." %}
  {{ NFLtoday }}
  <br>
  {% else %}
  <div class="grid-x grid-padding-x">
  {% for game in NFLtoday %}
    <div class="columns medium-4">
      <div class="card" style="width: 400px; padding=15px">
        {% if game[6] == 1 %}

          {% if game[4] > game[5] %}
          <span style="text-align:center"> <strong style="color:green">{{game[2]}}</strong> <span style'color:black'>vs.</span> <strong style="color:red">{{game[3]}}</strong></span>
          <!-- <br> -->
          <span style="text-align:center"> <strong style="color:green">{{game[4]}}</strong> <span style'color:black'>-</span> <strong style="color:red">{{game[5]}}</strong></span>
          {% elif game[4] < game[5] %}
          <span style="text-align:center"> <strong style="color:red">{{game[2]}}</strong> <span style'color:black'>vs.</span> <strong style="color:green">{{game[3]}}</strong></span>
          <!-- <br> -->
          <span style="text-align:center"> <strong style="color:red">{{game[4]}}</strong> <span style'color:black'>-</span> <strong style="color:green">{{game[5]}}</strong></span>
          {% else %}
          <span style="text-align:center"><strong>{{game[2]}}</strong> <span style'color:black'>vs.</span> <strong>{{game[3]}}</strong></span>
          <!-- <br> -->
          <span>{{game[4]}} - {{game[5]}}</span>
          {% endif %}

        {% elif game[4] != 0 or game[5] != 0 %}
        <h6 style="color:red">Live:</h6>
        <span><strong>{{game[2]}}</strong> vs. <strong>{{game[3]}}</strong></span>
        <span>{{game[4]}} - {{game[5]}}</span>

        {% else %}
        <h6><small>Upcoming:</small></h6>
        <span>game[6]</span>
        {{game[2]}} vs. {{game[3]}}
        {% endif %}
      </div>
    </div>


  {% endfor %}
  </div>
  {% endif %}
  {% if loggedin %}

  <br><br>
  <h3><small>Scores From Your Teams:</small></h3>
  <form action="/addsport" method="POST">
    <label for="nfl_team">Select team to add to preferences:</label>
    <select name="nfl_team">
      <option disabled selected>-- select a team --</option>
      {% for team in nfl_teams_not_added %}
      <option value="{{team.FullName}}">{{team.FullName}}</option>
      {% endfor %}
      <input type="submit" value="Submit" name="submit-butom">
    </select>
  </form>
<br>
      <div class="grid-x grid-padding-x">
      {% for team in nfl_user_team_data %}
      <div class="columns medium-4">
      <div class="card" style="width: 400px; padding=15px">
        <div class="card-divider">
          <h4 style="text-align:center;">{{team.Name}}</h4>
        </div>
        <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
        <div class="card-section">
          <strong>Conference:</strong> {{team.Conference}}
          <br>
          <strong>Division:</strong> {{team.Division}}
        </div>
        <div class="card-section">
          <strong>Percentage: </strong><span style="color:blue;">{{team.Percentage}}</span>
          <br>
          <strong>Points For: </strong><span style="color:green;">{{team.PointsFor}}</span>
          <br>
          <strong>Points Against: </strong><span style="color:red;">{{team.PointsAgainst}}</span>
          <br>
          <strong>Touchdowns: </strong><span style="color:blue;">{{team.Touchdowns}}</span>
          <br>
          <strong>Total Division Wins: </strong><span style="color:green;">{{team.DivisionWins}}</span>
          <br>
          <strong>Total Division Losses: </strong><span style="color:red;">{{team.DivisionLosses}}</span>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>

  {% endif %}

  <h1>NHL</h1>
  <h3><small>Today's Scores:</small></h3>
  {% if NHLtoday == "No games played or scheduled for today." %}
  {{ NHLtoday }}
  {% else %}
  <div class="grid-x grid-padding-x">
  {% for game in NHLtoday %}
    <div class="columns medium-4">
      <div class="card" style="width: 400px; padding=15px">
        {% if game[6] == "Scheduled" %}
        <h6><small>Upcoming:</small></h6>
        {{game[2]}} vs. {{game[3]}}
        {% elif "In Progress" in game[6] %}
        <h6 style="color:red">Live:</h6>
        <span><strong>{{game[2]}}</strong> vs. <strong>{{game[3]}}</strong></span>
        <span>{{game[4]}} - {{game[5]}}</span>
        {% elif game[4] > game[5] %}
        <span> <strong style="color:green">{{game[2]}}</strong> vs. <strong style="color:red">{{game[3]}}</strong></span>
        <!-- <br> -->
        <span> <strong style="color:green">{{game[4]}}</strong> - <strong style="color:red">{{game[5]}}</strong></span>
        {% elif game[4] < game[5] %}
        <span> <strong style="color:red">{{game[2]}}</strong> vs. <strong style="color:green">{{game[3]}}</strong></span>
        <!-- <br> -->
        <span> <strong style="color:red">{{game[4]}}</strong> - <strong style="color:green">{{game[5]}}</strong></span>
        {% else %}
        <span><strong>{{game[2]}}</strong> vs. <strong>{{game[3]}}</strong></span>
        <!-- <br> -->
        <span>{{game[4]}} - {{game[5]}}</span>
        {% endif %}
      </div>
    </div>


  {% endfor %}
  </div>
  {% endif %}

				{% if loggedin %}
					<!-- <h2>Your teams:</h2>
					{% for team in user_teams %}
					<p>{{team}}</p>
					<br>
					{% endfor %} -->

					<!-- Cards for each team -->
<br><br>
      <h3><small>Scores From Your Teams:</small></h3>

      <form action="/addsport" method="POST">
        <label for="nhl_team">Select team to add to preferences:</label>
        <select name="nhl_team">
          <option disabled selected>-- select a team --</option>
          {% for team in nhl_teams %}
          <option value="{{team.name}}">{{team.name}}</option>
          {% endfor %}
          <input type="submit" value="Submit" name="submit-butom">
        </select>
      </form>
      <br><br>
          <div class="grid-x grid-padding-x">
					{% for team in nhl_user_team_data %}
          <div class="columns medium-4">
					<div class="card" style="width: 400px; padding=15px">
						<div class="card-divider">
						  <h4 style="text-align:center;">{{team.name}}</h4>
						</div>
						<!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
						<div class="card-section">
						  <a href="{{team.officialSiteUrl}}">Official Team Site</a>
						  <br>
						  <strong>Abbreviation:</strong>{{team.abbreviation}}
						</div>
						<div class="card-section">
              <br>
						  <h6><small>Most Recent Game:</small></h6>
						  {% if team.prevgame == "No games played this season." %}
						    {{team.prevgame}}
						  {% else %}
						    <strong>Date:</strong> {{team.prevgame.gameDate.split('T')[0]}}
						    <br>
						    {% if team.prevgame.teams.away.score > team.prevgame.teams.home.score %}
						    <span style="text-align:center"><span style="color:green">{{team.prevgame.teams.away.team.name}}</span> vs. <span style="color:red">{{team.prevgame.teams.home.team.name}}</span></span>
						    <br>
						    <span style="text-align:center"><span style="color:green">{{team.prevgame.teams.away.score}}</span> - <span style="color:red">{{team.prevgame.teams.home.score}}</span></span>
						    {% elif team.prevgame.teams.away.score < team.prevgame.teams.home.score %}
						    <span style="text-align:center"><span style="color:red">{{team.prevgame.teams.away.team.name}}</span> vs. <span style="color:green">{{team.prevgame.teams.home.team.name}}</span></span>
						    <br>
						    <span style="text-align:center"><span style="color:red">{{team.prevgame.teams.away.score}}</span> - <span style="color:green">{{team.prevgame.teams.home.score}}</span></span>
						    {% else %}
						    <span style="text-align:center"><span>{{team.prevgame.teams.away.team.name}}</span> vs. <span>{{team.prevgame.teams.home.team.name}}</span></span>
						    <br>
						    <span style="text-align:center">{{team.prevgame.teams.away.score}} - {{team.prevgame.teams.home.score}}</span>
						    {% endif %}
						 {% endif %}
             <h6><small>Next Game:</small></h6>
             {% if team.nextgame == "No upcoming games." %}
                {{team.nextgame}}
            {% else %}
                <strong>Date:</strong> {{team.nextgame.gameDate.split('T')[0]}}
                <br>
                <span>{{team.nextgame.teams.away.team.name}} vs. {{team.nextgame.teams.home.team.name}}</span>
             {% endif %}
						</div>
					</div>
        </div>
					{% endfor %}
        </div>


				{% else %}
					<a href="/login" class="button">Login</a> to view and add preferences.
				{% endif %}


			<!--
			<h2>Most Recent Scores</h2>
			<p>NHL schedule: https://statsapi.web.nhl.com/api/v1/schedule</p>
			<ul class="dropdown menu" data-dropdown-menu>
			<li>
			<a>Select a team</a>
			<ul class="menu">
			{% for team in teams %}
			<button class="hollow button">{{team.name}}</button>
			{% endfor %}
			</ul>
			</li>
			</ul> -->


			<script>
				$(document).ready(function() {
					$(document).foundation();
				})
			</script>


{% endblock %}
