{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block body %}

    <!-- ================================================================= WEATHER ======================================================================= -->
    <h3>Weather in New York</h3>
    <div class="grid-x grid-padding-x">
      <div class="large-10 medium-10 columns">
        <div class="success callout">
          <h1> {{DateToday}}</h1>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>

          <div>Temperature today: {{TempToday}}</div>
          <div>Lowest today: {{LowestTemp}}</div>
          <div>Highest today: {{HighestTemp}}</div>

        </div>
          <div class="medium-6 columns">
            <div class="success callout">
              Humidity: {{humidity}}
              <br>
              WindSpeed: {{windspeed}}
            </div>
          </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday1}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday1}}</div>
          <div>Lowest: {{LowestTemp1}}</div>
          <div>Highest: {{HighestTemp1}}</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday2}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday2}}</div>
          <div>Lowest: {{LowestTemp2}}</div>
          <div>Highest: {{HighestTemp2}}</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday3}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday3}}</div>
          <div>Lowest: {{LowestTemp3}}</div>
          <div>Highest: {{HighestTemp3}}</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday4}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday4}}</div>
          <div>Lowest: {{LowestTemp4}}</div>
          <div>Highest: {{HighestTemp4}}</div>

        </div>
      </div>

    <div class="small-2 cell">
      <div class="secondary callout">
        <h5> {{DateToday5}}</h5>
        <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="50" height="10"> <br>

        <div>Temperature: {{TempToday5}}</div>
        <div>Lowest: {{LowestTemp5}}</div>
        <div>Highest: {{HighestTemp5}}</div>

      </div>
    </div>
    </div>
    <!-- ================================================================= WEATHER ======================================================================= -->

{% endblock %}
