{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block body %}

<style>
  .column {
    float: left;
    width: 25%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
<center>
    {% if loggedIn %}
      Location:
      <form action="/changeLocation" method="POST">
        <div style="width:20%">
        <select name="location">
          <option disabled selected>{{location}}</option>
          {% for place in allL %}
            <option value="{{allL.get(place)}}">{{place}}</option>
          {% endfor %}
          <input type="submit" value="Submit" name="submit-butom">
        </select>
        </div>
      </form>
    {% endif %}
</center>
    <h3>Weather in {{location}}</h3>
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
          <div class="success callout">
          <div class="row">
            <div class="column">


              <h1> {{DateToday}}</h1>

              <img src="https://www.metaweather.com/static/img/weather/{{pic}}.svg" width="100" height="20"> <br>
              <div>Temperature today: {{TempToday}} °C</div>
              <div>Lowest today: {{LowestTemp}} °C</div>
              <div>Highest today: {{HighestTemp}} °C</div>
            </div>
            <div class = "column">
              <br>
              <br>
              <br>
                  Humidity: {{humidity}}
                  <br>
                  WindSpeed: {{windspeed}}
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="grid-x grid-padding-x">
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday1}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic1}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday1}} °C</div>
          <div>Lowest: {{LowestTemp1}} °C</div>
          <div>Highest: {{HighestTemp1}} °C</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday2}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic2}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday2}} °C</div>
          <div>Lowest: {{LowestTemp2}} °C</div>
          <div>Highest: {{HighestTemp2}} °C</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday3}} °C</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic3}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday3}} °C</div>
          <div>Lowest: {{LowestTemp3}} °C</div>
          <div>Highest: {{HighestTemp3}} °C</div>

        </div>
      </div>
      <div class="small-2 cell">
        <div class="secondary callout">
          <h5> {{DateToday4}}</h5>
          <img src="https://www.metaweather.com/static/img/weather/{{pic4}}.svg" width="50" height="10"> <br>

          <div>Temperature: {{TempToday4}} °C</div>
          <div>Lowest: {{LowestTemp4}} °C</div>
          <div>Highest: {{HighestTemp4}} °C</div>

        </div>
      </div>

    <div class="small-2 cell">
      <div class="secondary callout">
        <h5> {{DateToday5}}</h5>
        <img src="https://www.metaweather.com/static/img/weather/{{pic5}}.svg" width="50" height="10"> <br>

        <div>Temperature: {{TempToday5}} °C</div>
        <div>Lowest: {{LowestTemp5}} °C</div>
        <div>Highest: {{HighestTemp5}} °C</div>

      </div>
    </div>
    <div class="small-2 cell">
      <div class="secondary callout">
        <h5>2100-04-31</h5>
        <img src="https://c7.uihere.com/files/610/855/601/spaghetti-with-meatballs-submarine-sandwich-meatball-sandwich-clip-art-others.jpg" width="75" height="10" alt = "cloudly with a chance of meatball">
        <div>Temperature: Hot °C</div>
        <div>Lowest: 100 °C</div>
        <div>Highest: 0 °C</div>

      </div>
    </div>
    </div>
{% endblock %}
